.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fileInput {
  display: 'none',
}

.flex {
  display: flex;
}

.project__add-btn {
  margin-right: .5rem;
}

.project__info {
  display: flex;
  align-items: center;

}

.project__title {
  font-size: 1.5rem;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  margin-right: 1.5rem;
}

.project__sub {
  position : relative;
  margin-right: 1rem;
  top : .15rem;
}

.project__delete-btn {
  margin-right: .5rem;
}
